p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercise {
    padding-left: 2em;
    border: 1px solid;
    border-color: #ffffff;
    /* color: #ffffff; white*/
    color: #696969;
    /* background-color: #26a69a; dark teal*/
    /* background-color: #7CC9C2; lighter teal*/
    background-color: #96D3CE; medium teal
    /* background-color: #D3EDEA; */
    
}

.exercise a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.exercise p code {
  color: inherit;
}
